<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>增加规格</h1>
    <form id="addForm">
        规格名称：<input name="specName" id="specName"><br><br>

        <input type="button" value="新增规格" onclick="insert()"><br>
        <table width="80%" border="0" id="table1">
            <tr>
                <th>规格选项</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
        </table>
    </form>

</body>
<script>
    var count = 0;
    function insert() {
        var table = document.getElementById("table1");
        var tr = document.createElement("tr");
        tr.innerHTML = '<td><input name="optionName"></td><td><input name="orders" value="'+(++count)+'"></td><td><a href="#" onclick="deleteTr(this)">删除</a></td>';
        table.appendChild(tr);
    }

    function deleteTr(obj){
        var tr = obj.parentNode.parentNode;
        tr.parentNode.removeChild(tr);
    }
</script>
</html>